<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Passcode Generator</title>
</head>
<body>
    <main>
        <h1>Random passcode (passcode #@ViewBag.Count)</h1>
        <p>@ViewBag.Passcode</p>
        <form action="/" method="post">
            <button>Generate</button>
        </form>
        <form action="/reset" method="post">
            <button>Reset</button>
        </form>
    </main>
</body>
</html>